<hr>
<p><span>会社名: </span><%= @company.companyname %></p>
<p><span>メールアドレス: </span><%= @company.email %></p>

<% @posts.each do |post| %>
  <hr>
  <p><span>タイトル: </span><%=link_to post.title, post_path(post.id) %></p>
  <p><%=link_to post.image, post_path(post.id) %></p>
  <p><span>投稿内容: </span><%=link_to post.content, post_path(post.id) %></p>
<% end %>