<% if (user_signed_in? && current_user.admin?) || (company_signed_in? && current_company.admin?)%>
  <h1>あなたは管理者です</h1>
<% elsif user_signed_in? || company_signed_in? %>
  <div class="page-header">
    <h1>投稿一覧</h1>
  </div>
  <% @posts.each do |post| %>
    <hr>
    <p><strong>投稿した企業は<%= link_to "こちら", post_path(post.id) %>から確認</strong><p>
    <div>
      <%= post.title %> 
    </div>
    <div>
      <%= image_tag post.image_url(:thumb) %> 
    </div>
    <div>
      <%= simple_format(post.content) %> 
    </div>
    <% if user_signed_in? %>
      <% if post.favorited_by?(current_user) %>
        <p><span>お気に入り解除: </span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :delete %></p>
      <% else %>
        <p><span>お気に入り登録: </span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :post %></p>
      <% end %>
    <% else %>
      <p><span>お気に入り数: </span><%= post.favorites.count %></p>
    <% end %>
  <% end %>
  <%= paginate @posts %>
<% else %>
  <h1>ログインしてください</h1>
<% end %> 
 
 


