<h1><span>企業名: </span><%= @company.companyname %></h1>
<h2><span>email: </span><%= @company.email%></h2>
<h2><span>内容: </span><%= @post.content %></h2>
<hr>

<% if user_signed_in? %>
  <%= form_with(model: [@post,@user_comment], local: true) do |f| %>
    <%= f.text_field :body %>
    <br>
    <%= f.submit '（ユーザーから）コメントする' %>
  <% end %>
<% else %>
  <%= form_with(model: [@post, @company_comment], local: true) do |f| %>
    <%= f.text_field :body %>
    <br>
    <%= f.submit '（企業から）コメントする' %>
  <% end %>
<% end %> 
<%# コメントに名前をつけるために判別するために別々で登録 %>

<hr>

<p>コメント欄</p>

<% @comments.each do |comment| %>
  <% if comment.present? %>
    <p>kaisya : <%= comment.body %></p>
  <% else %>
    <p>user : <%= comment.body %></p>
  <% end %>  
<% end %>
<%# create_at　で順番表示を変える %>

