<h1><span>企業名: </span><%= @company.companyname %></h1>
<h2><span>email: </span><%= @company.email %></h2>
<h2><span>内容: </span><%= @post.content %></h2>
<hr>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :body %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<hr>

<p>コメント欄</p>
<% @post.comments.each do |comment| %>
  <p><%= comment.body %></p>
<% end %>